* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pages {
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(#5A585A,#090947);
    
    
}


.Project-1 {
    height: 200px;
    width: 300px;
    background-color: #090947;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    top: 140px;
    left: 280px;
    justify-content: center;
    z-index: 0;
    margin-right: 100px; 
    margin-bottom: 100px;
  }

  .Project-1 a {
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 10px;
    color: white;
    font-weight: 650;
}

.Project-1 p {
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
    color: white;
    font-weight: 600;
}
.Project-1 label
{
  text-align: center;
    font-size: 1em;
    margin-top: 10px;
    color: white;
    font-weight: 600;
}
  
 

.info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.projects .info {
  position: absolute;
  top: 0;
  left: 280px;
}

.new-projects {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
  max-width: 1400px; 
  margin: 0 auto;
}

.status-select {
  z-index: 105;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.search-box
{
  position: absolute;
  right: 360px;
  z-index: 1000;
}

.close-buttons {
  position: absolute;
  right: 180px; 
  top: 0px;
  z-index: 1000;
}

.employees-box {

  background-color: white;
  position: relative;
  top: 50px; 
  right: 50px;
  z-index: 1000;
  width: 450px;
  height: 500px;
  border-radius: .5em;
  overflow-y: auto; 
}

.employees-header {
  display: flex;
  justify-content: space-between;
  background-color: #7b7474; 
  border-bottom: 2px solid #090947; 
  padding: 8px 0;
}

.header-item {
  font-weight: bold;
}

.employee-row {
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid #090947; 
  padding: 8px 0; 
}

.employee-info {
  flex: 1;
  margin: 0 5px; 
}


.dropdown {
  border-bottom: 2px solid #090947; 
  padding-bottom: 8px; 
  
}

.dropdown-content label
{
    font-size: 1em;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.employee-info-hours
{
    width: 40px;
}