.manager-view
{
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(#191714,#2234AE);
}

.department-skills
{
    display: flex;
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: .5em;
    position: absolute;
    justify-content: center; 
    align-items: flex-start;
    top: 30px;
    left: 40px;
}


.header-title
{
    position: absolute;
    font-size: 1.5em;
    color: white;
    left: 100px;
    top: -30px;
}

.header-titles
{
    position: absolute;
    font-size: 1.5em;
    color: white;
    right: 80px;
}

.header-titles-1
{
    position: absolute;
    font-size: 1.5em;
    color: white;
    left: 43%;
}


.no-dep-tableee
{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 400px;
    height: 400px;
    overflow-y: auto;
    border-collapse: collapse;

}

.dep-tableee 
{
    
    position: absolute;
    top: 30px;
    left: 37%;
    height: 400px;
    width: 400px;
    overflow-y: auto;
    border-collapse: collapse;
}

.hdr th{
    background-color: #090947; 
    color: #FFF;

}

th, td {
    border: 1px solid #FFF; 
    padding: 8px;
    width: 400px;
}

table {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

tbody {
    flex-grow: 1; 
}




.dep-btnn-p,
.dep-btnn-t
{
    width: 40px;
    height: 40px;
    align-items: center; 
    justify-content: center; 
    gap: 0.5em;
    background-color: white;
    color: cadetblue;
    text-decoration: none;
    padding: 0.5em;
    border-radius: .3em ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.dep-btnn-p:hover
{
    background-color:#090947;
    color: white;
}

.dep-btnn-t:hover
{
    background-color:rgb(213, 12, 12);
    color: white;
}

.chart-data
{
    margin-left: 700px;
    margin-top: 650px;
}

.chart-data-header
{
    font-size: 1.5em;
    color: white;
    margin-left: 130px;
}

.percent-stats
{
    margin-left: -1200px;
    margin-top: 650px;
}

.percent-stats-header
{
    font-size: 1.5em;
    color: white;
    margin-left: 50px;
}

.level-stats
{
    margin-left: 200px;
    margin-top: 1150px;
}

.level-stats-header
{
    font-size: 1.5em;
    color: white;
    margin-left: 130px;
}

.total-stats
{
    margin-left: -1200px;
    margin-top: 1150px;
}

.total-stats-header
{
    font-size: 1.5em;
    color: white;
    margin-left: 50px;
}
.dep-manager-name
{
    position: absolute;
    width: 330px;
    height: 50px;
    background-color: #090947;
    bottom: 150px;
    left: 50px;
    border-radius: .5em ;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    color: white;
}

.dep-projects
{
    position: absolute;
    width: 330px;
    height: 50px;
    background-color: #090947;
    bottom: 150px;
    left: 600px;
    border-radius: .5em ;

}

.dep-proj-link
{
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    width: 330px;
    height: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5em ;
}

.dep-proj-link:hover
{
    background-image: linear-gradient(to right, rgb(5, 117, 230), rgb(2, 27, 121));
}