.pag {
    background-image: linear-gradient(#191714,#2234AE);
    min-height: 100vh;
    position: relative;
}

.description-box {
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    left: 100px;
}

.description-box textarea {
    resize: none;
    width: calc(100% - 40px); 
    height: calc(100% - 40px); 
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.3em;
    spellcheck: false;
}


.details
{
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    top: 0;
    right: 100px;
}

.details textarea
{
    resize: none;
    width: calc(100% - 40px); 
    height: calc(100% - 40px); 
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.3em;
    spellcheck: false;
}

.technology
{
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    left: 100px;
    bottom: 0;
}

.technology textarea
{
    resize: none;
    width: calc(100% - 40px); 
    height: calc(100% - 40px); 
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.3em;
    spellcheck: false;
}

.team-members
{
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.members-column
{
    font-weight: 600;
}

.btnn-trs
{
    display: block;
    width: 30px;
    height: 30px;
    align-items: center; 
    justify-content: center; 
    gap: 0.5em;
    background-color: white;
    color: cadetblue;
    text-decoration: none;
    padding: 0.5em;
    border-radius: .3em ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.btnn-trs:hover
{
    background-color: rgba(213, 18, 18, 0.792);
    color: white;
}

.proposal-dialogs {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(80%,40%);
    z-index: 9999;
    background-color: #ddd8d8;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .proposal-dialogs  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .proposal-dialogs label {
    width: 120px; 
    margin-right: 10px;
    font-weight: 600;
  }
  
  .proposal-dialogs input {
    flex: 1;
  }
  
  