.pag {
    background-image: linear-gradient(#191714,#2234AE);
    min-height: 100vh;
    position: relative;
}



.technology
{
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    left: 100px;
    bottom: 0;
}


.team-members
{
    background-image: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: text;
    height: 300px;
    width: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    position: absolute;
    right: 100px;
    top: 0;
}

.members-column
{
    font-weight: 600;
}

.btnn-trs
{
    display: block;
    width: 30px;
    height: 30px;
    align-items: center; 
    justify-content: center; 
    gap: 0.5em;
    background-color: white;
    color: cadetblue;
    text-decoration: none;
    padding: 0.5em;
    border-radius: .3em ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.btnn-trs:hover
{
    background-color: rgba(213, 18, 18, 0.792);
    color: white;
}

.proposal-dialogs {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(80%,-140%);
    z-index: 9999;
    background-color: #ddd8d8;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .proposal-dialogs  div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .proposal-dialogs label {
    width: 120px; 
    margin-right: 10px;
    font-weight: 600;
  }
  
  .proposal-dialogs input {
    flex: 1;
  }

  .employees-header {
    display: flex;
    justify-content: space-between;
    background-color: #ddd8d8; 
    border-bottom: 2px solid #090947; 
    padding: 8px 0;
  }

  .src-btnnn
  {
    left: 200px
  }
  
  
  
.search-box
{
  position: absolute;
  right: 700px;
  top: 0;
  z-index: 1000;
}

.close-buttons {
  position: absolute;
  right: 180px; 
  top: 0px;
  z-index: 1000;
}

.employees-box {

  background-color: white;
  position: relative;
  top: 50px; 
  right: 50px;
  z-index: 1000;
  width: 480px;
  height: 500px;
  border-radius: .5em;
  overflow-y: auto; 
}

.employees-header {
  display: flex;
  justify-content: space-between;
  background-color: #ddd8d8; 
  border-bottom: 2px solid #090947; 
  padding: 8px 0;
}

.header-item {
  font-weight: bold;
}

.employee-row {
  display: flex; 
  justify-content: space-between; 
  border-bottom: 1px solid #090947; 
  padding: 8px 0; 
}

.employee-info {
  flex: 1;
  margin: 0 5px; 
}


.dropdown {
  border-bottom: 2px solid #090947; 
  padding-bottom: 8px; 
  
}

.dropdown-content label
{
    font-size: 1em;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.employee-info-hours
{
    width: 50px;
}

.btnn-prop
{
    width: 40px;
    height: 40px;
    align-items: center; 
    justify-content: center; 
    gap: 0.5em;
    background-color: white;
    color: cadetblue;
    text-decoration: none;
    padding: 0.5em;
    border-radius: .3em ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.btnn-prop:hover
{
    background-color:#090947;
    color: white;
}

.proposal-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  z-index: 9999;
  background-color: #ddd8d8;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.proposal-dialog  div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.proposal-dialog label {
  width: 120px; 
  margin-right: 10px;
  font-weight: 600;
}

.proposal-dialog input {
  flex: 1;
}