.skill-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(181deg, rgb(2, 0, 97) 15%, rgb(97, 149, 219) 158.5%);
}

.create-skill {
    width: 300px;
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 3.5px solid black;
    border-radius: .5em;
    background-color: white;
    margin-bottom: 20px; 
}

.create-skill input {
  width: 100%;
}

.btnn {
    width: 80px;
    padding: 10px;
    top: -200px;
    right: 5%;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: .3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btnn:hover {
  background-color: #0056b3;
}

.btnn-update,
.btnn-delete,
.btnn-assign {
    width: 40px;
    height: 40px;
    display: inline-block; 
    align-items: center; 
    justify-content: center; 
    gap: 0.5em;
    background-color: white;
    color: cadetblue;
    text-decoration: none;
    padding: 0.5em;
    border-radius: .3em ;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px;
}

.btnn-cancel
{
    top: 140px;
}
.btnn-update:hover {
  background-color: green;
  color: white;
}

.btnn-delete:hover {
  background-color: red;
  color: white;
}
.btnn-assign:hover
{
  background-color: #090947;
  color: white;
}
.skill-table {
  
  width: 90%;
  margin-top: 50px;
  border: 2px solid black;
}

th, td {
  padding: 8px;
  border: 1px solid #FFF;
}

th {
  background-color: #f2f2f2;
  color: black;
  text-align: left;
}

td {
  background-color: white;
  color: black;
}


.form-top {
    order: -1;
}

.one
{
  width: 255px;
}

.two
{
  width: 230px;
}

.three
{
  width: 261px;
}

.four
{
  width: 244px;
}

.five
{
  width: 263px;
}

.six
{
  width: 241px;
}

.error-messages {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: .9em;
}