* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.App 
{
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(#191714,#2234AE);
    background-size: cover;
    background-position: center;
  
}

